@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}


body
{
  min-height: 100vh;
  background: #1a1a20;
  transition: 500ms;
}

nav
{
  display: flex;
  justify-content: stretch;
  position: fixed;
  background-color: #eeeeee;
  box-shadow: 0 2px 10px #000000;
  top: 0;
  left: 0;
  width: 100%;
    padding-top: 1vh;
    padding-right: 1vw;
    padding-bottom: 1vh;
    padding-left: 1vw;
  box-sizing: border-box;
  transition: all 0.5s;
  z-index: 1;
}

nav .align.left
{
  flex-grow: 1;  
}

nav .align.left .logo
{
  height: 60px;
}

nav .align.right {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav.solid
{
  background: #3a3a40;
}

nav.solid a
{
  color: #ffffff
}

nav.solid .button-styled a
{
  color: #ff3f81;
}

nav.solid .button-styled:hover a
{
  color: #ffffff;
}

.button-styled {
  font-size: 1.2rem;
  color: #ff3f81;
  transition: .5s;
  outline: none;
  height: 40px;
  width: 150px;
  background: -webkit-linear-gradient(0deg, transparent 50%, #ff3f81 50%);
  background-size: 400px;
  border: 1px solid #ff3f81;
  text-transform: uppercase;
}

.button-styled:hover{
  background-position: 200px 0;
  cursor: pointer;
  border-radius: 15px;
}

nav ul
{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}

ul li 
{
  list-style: none;
  text-decoration: none;
}

a.active
{
  border-bottom: 2px solid #ff3f81;
}


nav ul li a
{
  position: relative;
  display: inline-block;
  margin: 5px 30px 5px 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #1a1a20;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 300ms;
  z-index: 1;
}


nav ul li a:hover
{
  transform: scale(1.2);
  z-index: 2;
  border-bottom: 2px solid #ff3f81;
  opacity: 1;
}

.content
{
  padding: 10% 20%;
}

.section-landing
{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-image: url("/assets/foreground2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}

.section-landing .aligner
{
  width: 50%;
  margin: 0 0 0 5%;
  text-align: center;
}

.section-about
{
  width: 100%;
  height: 65vh;
  position: relative;
  background-color: #1a1a20;
}

.section-about .aligner
{
  width: 100%;
  height: 100%;
  margin: auto;
}

.section-about .aligner .left
{
  position: absolute;
  margin: auto;
  width: 50%;
}

.section-about .aligner .right
{
  width: 30%;
  position: absolute;
  margin: auto;
  right: 0;
}

.section-skills
{
  width: 100%;
  height: 65vh;
  position: relative;
  background-color: #1a1a20;
}

.section-skills .aligner
{
  width: 100%;
  height: 100%;
  margin: auto;
}

.section-skills .aligner .left
{
  width: 40%;
  position: absolute;
  margin: auto;
}

.section-skills .aligner .right
{
  width: 30%;
  position: absolute  ;
  margin: auto;
  right: 30%;
}

.highlight
{
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  color: #2196f3;
}

h1
{
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 8rem;
}

h2
{
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #ffffff;
}

h3
{
  font-size: 1.5rem;
  color: #ff3f81;
  text-transform: uppercase;
  font-weight: 800;
}

h4
{
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 800;
  color: #6a6a70;
}

.button-styled a
{
  color: #ff3f81;
  text-decoration: none;
  transition: all 300ms ease;
}

.button-styled:hover a
{
  color: #ffffff;
}

p
{
  font-size: 1.125rem;
  line-height: 150%;
  color: #bbbbbb;
}

body .back-image {
  position: absolute;
  text-align: center;
  top: -10vh;
  z-index: -1;
}

body .back-image .stack:not(:last-child) {
  margin-right: 5vh;
}

body .back-image .stack {
  display: inline-block;
}

body .back-image img {
  display: block;
  height: 40vh;
  width: 35vw;
  object-fit: cover;
  opacity: 0.3;
  border-radius: 30px;
  margin-bottom: 8vh;
  box-shadow: 10px 10px 10px #000;
}

.image-grid
{
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.image-grid .image-box
{
  position: relative;
  background-color: #d7d7d7;
  overflow: hidden;
}

.image-grid .image-box:nth-child(7n+1)
{
  grid-column: span 2;
  grid-row: span 2;
}

.image-grid .image-box img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.image-grid .image-box:hover img
{
  transform: scale(1.1);
}

.image-grid .image-box .button-styled
{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.image-grid .image-box:hover .button-styled
{
  top: 20px;
  left: 20px;
  opacity: 1;
}

.image-grid .image-box .description  
{
  font-size: 18px;
  position: absolute;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transform: all 0.5s ease;
}

.image-grid .image-box:hover .description
{
  opacity: 1;
  position: relative;
  top: 20px;
  left: 20px;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
  z-index: 3;
}

@media(max-width: 768px)
{
  .image-grid
  {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .image-grid .image-box:nth-child(7n+1)
  {
    grid-column: unset;
    grid-row: unset;
  }
}

.description
{
  text-align: center;
  color: white;
  max-width: 850px;
}

.footer
{
  background-color: #2a2a30;
  padding: 30px 0;
  height: 400px;
}

.container {
  max-width: 1170px;
  margin: auto;
  position: relative;
}

.row
{
  display: flex;
  flex-wrap: wrap;
}

.footer-col
{
  margin-bottom: 30px;
  width: calc(100% / 3);
  padding: 0 15px;
}

.footer-col h3
{
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
}

.footer-col h3::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ff3f81;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child)
{
  margin-bottom: 10px
}

.footer-col ul li a
{
  font-size: 1rem;
  text-transform: uppercase;
  color: #bbbbbb;
  text-decoration: none;
  display: block;
  padding-left: 0px;
  transition: all 300ms ease;
}

.footer-col ul li a:hover
{
  color: #ffffff;
  padding-left: 10px;
}

.footer-bottom
{
  padding: 20px 0px;
}

.copyright
{
  display: inline-flex;
  padding: 10px;
  border-radius: 38px;
  background-color: #3a3a40;
  color: #bbbbbb;
}

.socials
{
  position: absolute;
  right: 0;
}

.socials a
{
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  background-color: #3a3a40;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #bbbbbb;
  transition: all 300ms ease;
}

.socials a:hover
{
  background-color: #6a6a70;
  color: #ffffff;
  transform: scale(1.2);
}

.footer-contact
{
  width: 350px;
}

.input-box, input
{
  position: relative;
  float: left;
  width: 130px;
  border-bottom: 2px solid #bbbbbb;
}

.wide
{
  width: 350px;
  background-color: #3a3a40;
  margin-top: 10px;
}

.box-right
{
  float: right;
  width: 210px;
}

input,
textarea {
  padding: 15px 10px;
  background: #3a3a40;
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 1rem;
  resize: none;
  width: 100%;
  height: 100%;
}

.input-box .details {
  position: absolute;
  padding: 20px 10px 10px;
  top: 0px;
  left: 0px;
  font-size: 1rem;
  color: #bbbbbb;
  transition: all 0.3s ease;
  pointer-events: none;
}

input:focus ~ .details, textarea:focus ~ .details,
input:valid ~ .details, textarea:valid ~ .details {
  position: absolute;
  top: -1rem;
  color: #2196f3;
  font-size: 0.75rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6a6a70;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8a8a90;
}

::selection {
  background: #2196f3;
}

@keyframes float {
	0% {
		transform: translatey(5vh);
	}
	50% {
		transform: translatey(-5vh);
	}
	100% {
		transform: translatey(5vh);
	}
}

.img-example
{ 
  position: absolute;
  right: 5%;
  width: 35vw;
  animation: float 10s ease-in-out infinite;
}

.img-example-2
{
  width: 100%;
  position: absolute;
  border: 3px solid #1a1a20;
  transform: rotate3d(1, -1, 1, 45deg);
  box-shadow: 20px 20px 20px #000000;
  transition: all 1000ms ease;
}

.img-example-2:hover
{
  transform: rotate3d(0, 0, 0, 0deg);
  box-shadow: 0px 0px 0px transparent;
}

.img-example-3
{
  width: 40%;
}

@-webkit-keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-out;
  }
  17% {
    top: 15px;
    animation-timing-function: ease-in;
  }
  34% {
    top: 0;
    animation-timing-function: ease-out;
  }
  51% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  68% {
    top: 0px;
    animation-timing-function: ease-out;
  }
  85% {
    top: 3px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-out;
  }
  17% {
    top: 15px;
    animation-timing-function: ease-in;
  }
  34% {
    top: 0;
    animation-timing-function: ease-out;
  }
  51% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  68% {
    top: 0px;
    animation-timing-function: ease-out;
  }
  85% {
    top: 3px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}
@keyframes bounce {
  0% {
    top: 0;
    animation-timing-function: ease-out;
  }
  17% {
    top: 15px;
    animation-timing-function: ease-in;
  }
  34% {
    top: 0;
    animation-timing-function: ease-out;
  }
  51% {
    top: 8px;
    animation-timing-function: ease-in;
  }
  68% {
    top: 0px;
     }
  85% {
    top: 3px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 0;
  }
}
.hover { 
  position: relative;
  transition: all 500ms ease;
  border-bottom: 0px solid transparent;
}

.hover:hover
{
  border-bottom: 10px solid #ff3f81;
  color: #ff3f81;
}

.hover.animated { 
  -moz-animation: bounce 1s;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}