@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --light: #f0f0f5;
  --dark: #1a1a1d;
  --cyan: #5789b8;
  --pink: #ff3f81;
  --gray: #aaaaad;

}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body
{
  background-color: #1a1a1d;
  font-size: 1rem;
}

a, p, li
{
  color: var(--gray);
  text-decoration: none;
}

nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

nav .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0px;
}

.nav-links ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-links li a
{
  position: relative;
  text-decoration: none;
  color: var(--light);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  transition: 300ms;
  z-index: 1;
}

.nav-links li a::after
{
  content: "";
  position: absolute;
  background-color: var(--cyan);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: all ease 500ms;
}


.nav-links li a:hover::after,
.nav-links li a.active::after
{
  width: 100%;
}

.btn
{
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  transition: all 300ms ease;
  white-space: nowrap;
  background-color: var(--cyan);
  border: 2px solid var(--cyan);
}

.btn:hover
{
  background-color: transparent;
}

.btn a
{
  color: var(--light);
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms ease;
}

.btn:hover a
{
  color: var(--cyan);
}

.hamburger
{
  display: none;
  cursor: pointer;
}

.hamburger .bar
{
  transition: all 300ms ease;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--light);
  border-radius: 3px;
}

.aligner
{
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.info-row
{
  display: grid;
  gap: 17.5rem;
  grid-template-columns: 150px minmax(0, 1220px);
  margin-bottom: 4rem;
}

.aligner-flex
{
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.left
{
  width: 70%;
}

.left img
{
  width: 100%;
}

.info
{
  width: 25%;
}

.project-info {
  grid-column-gap: .625rem;
  grid-row-gap: 0rem;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: .75rem;
  display: flex;
}

.project-number {
  letter-spacing: -.05em;
  margin-right: 1.25rem;
  /* font-size: 2.5rem; */
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #e8e6e3;
}

.project-label-wrapper {
  grid-column-gap: .625rem;
  grid-row-gap: .3125rem;
  flex-wrap: wrap;
  flex: 0 auto;
  align-items: center;
  display: flex;
}

section
{
  width: 100%;
  height: 100%;
  padding: 5vh 0;
  background-color: var(--dark);
}

.modal
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 100px;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(10px);
  transition: all 300ms ease;
}

.modal.open
{
  opacity: 1;
  pointer-events: all;
}

.modal .modal-img
{
  position: absolute;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 300ms ease;
}

.modal .modal-img.open
{
  transform: translate(-50%, -50%) scale(1);
}

.modal .caption
{
  color: #ffffff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.img-container
{
  /* overflow: hidden;
  width: 100%;
  height: 100%;*/

  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  gap: 2rem;
  margin: 20% 0;
}

.img-container h3
{
  font-size: 37px;
  color: #e8e6e3;
  text-transform: uppercase;
  font-weight: 800;
}

.mask,
.img-container a,
.img-container .info {
  overflow: hidden;
  flex: 1;
}

.mask img
{
  width: 100%;
  height: 100%;
  transform-origin: left;
  object-fit: cover;
  display: block;
}

.mask iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  object-fit: cover;
  display: block;
}

.video-wrapper
{
  position: relative;
  height: 0;
 /* height / width * 100% = 315 / 560 * 100% = 56.25% */
  padding-top: 56.25%;
}

/* TEXT - HEADERS - FONTS */

h1
{
  color: var(--gray);
}

h2
{
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 7rem;
  color: var(--pink);
}

.title
{
  color: var(--pink);
  /* transform: scaleX(1.2); */
  /* transform-origin: 0% 0%; */
}

.title span
{
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.25rem;
}

.big-text
{
  font-weight: 500;
  color: var(--gray);
  font-size: 7rem;
}

h3
{
  font-weight: 600;
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--light);
  margin-bottom: 1rem;
  outline: none;
}

h4
{
  font-weight: 600;
  font-size: 2rem;
  color: var(--light);
}

.paragraph
{
  font-size: 1.5rem;
  line-height: 1.5;
}

.highlight
{
  color: #5d81a2;
}

.image-grid
{
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 2rem;
}

.preloader
{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  z-index: 0;
  /* z-index: 50; */
  background-color: #0a0a0d;
  flex-direction: column;
}

.percent
{
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: var(--light);
  font-size: 10vw;
}

.section-landing
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background-color: #1a1a1d50;
  /* background: radial-gradient(#4a4a4090 50%,
  position: relative; #1a1a1d 50%);
  background-position: 0% 0%;
  background-size: .5vmin .5vmin; */
}

.content
{
  mix-blend-mode: difference;
  /* padding-top: 73vh; */
  position: absolute;
  /* top: 100%; */
  /* bottom: 10rem; */
  top: 80%;
  /* top: 100%; */
  /* FIX THIS WITH MAYBE ABSOLUTE POSITION AS LONG AS BOTTOM OF VIEWPORT ON ALL DEVICES */
}

.hero-flex
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-flex p
{
  color: var(--light);
}

.center
{
  text-align: center;
}

.right
{
  text-align: right;
}

.gallery ul
{
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  place-content: center;
  row-gap: 1.75rem;
}

.gallery ul li
{
  display: grid;
}

.gallery ul .full-width
{
  grid-column: span 2;
}

.gallery img {
  height: auto;
  width: 100%;
}

.background-clip
{
  position: absolute;
  right: 0;
  /* bottom: 0; */
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero
{
  position: absolute;
  mix-blend-mode: difference;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .paragraph
{
  white-space: nowrap;
  text-align: center;
  color: var(--light);
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.content h1
{
  text-transform: uppercase;
  font-weight: 900;
  color: var(--light);
  font-size: 11cqw;
  /* font-size: 10vw; */
}
.rotate
{
  width: 5rem;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image-grid .image-box
{
  position: relative;
  overflow: hidden;
  /* aspect-ratio: 4 / 3; */
  border-radius: 2rem;
}

.image-grid .image-box:nth-child(7n + 1)
{
  grid-column: span 2;
  grid-row: span 2;
}

.image-grid .image-box img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease;
}

.image-grid .image-box:hover img
{
  transform: scale(1.1);
  filter: brightness(0.5);
}

.image-grid .image-box:hover h3
{
  opacity: 1;
}

.footer
{
  display: flex;
  width: 100%;
  height: 100%;
}

.container
{
  width: calc(100% - 2rem);
  margin: auto;
  position: relative;
}

.row
{
  display: flex;
  flex-wrap: wrap;
}

.footer-col
{
  padding: 0 1rem;
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 2rem;
}

.footer-col.lg
{
  flex: 0 0 100%;
  max-width: 100%;
}

.footer-col h4
{
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 2rem;
  position: relative;
}

.footer-col h4::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: var(--cyan);
  height: 3px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child)
{
  margin-bottom: 0.5rem
}

li
{
  list-style: none;
}

.footer-col ul li a
{
  text-decoration: none;
  color: var(--gray);
  display: block;
  padding-left: 0px;
  transition: all 300ms ease;
}

.footer-col ul li a:hover
{
  color: var(--light);
  padding-left: 0.5rem;
}

.socials
{
  display: flex;
}

.margin-right
{
  margin-right: 0.5rem;
}

.icon
{
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  line-height: 2.5rem;
  text-align: center;
  background-color: #2a2a30;
  transition: all 300ms ease;
}

.icon:hover
{
  color: var(--light);
  transform: scale(1.2);
}

hr
{
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #333;
}

.hr
{
  margin: 3rem 0
}

.input-box
{
  width: 100%;
  height: 100%;
  position: relative;
}

input,
textarea
{
  width: 100%;
  height: 100%;
  background: transparent;
  color: var(--gray);
  border: none;
  border-bottom: 2px solid var(--gray);
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  resize: none;
  transition: all 300ms ease;
}

.input-box .details
{
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: var(--gray);
  transition: all 0.3s ease;
  pointer-events: none;
}

input:focus ~ .details, textarea:focus ~ .details,
input:valid ~ .details, textarea:valid ~ .details
{
  position: absolute;
  top: -10px;
  font-size: 0.75rem;
  background-color: var(--dark);
  color: #2196f3;
}

.btn-submit
{
  margin: 0 0.5rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--gray);
  font-size: 1.25rem;
  transition: all 300ms;
  float: right;
}

.btn-submit:hover
{
  color: var(--light);

}

::-webkit-scrollbar
{
  width: 0.5rem;
}

::-webkit-scrollbar-thumb
{
  background: #2a2a30;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover
{
  background: #8a8a90;
}

::selection
{
  background: var(--gray);
}

@keyframes float {
  0%
  {
    transform: translatey(5vh);
	}

	50%
  {
    transform: translatey(-5vh);
	}

	100%
  {
    transform: translateY(5vh);
	}
}

@media (max-width: 480px) {
  .paragraph
  {
    font-size: 0.875rem;
  }

  .title h2
  {
    font-size: 27vw;
    text-align: center;
  }

  h3
  {
    font-size: 2rem;
  }

  h4
  {
    font-size: 1.5rem;
  }

  .footer-col
  {
    width: 100%;
    text-align: center;
  }

  .section-portfolio
  {
    text-align: left;
  }

  .img-container .paragraph
  {
    display: none;
  }

  .footer-col h4::before
  {
    content: "";
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -10px;
    width: 50px;
    height: 2px;
    box-sizing: border-box;
  }
}

@media (max-width: 991px) {
  nav
  {
    backdrop-filter: none;
  }

  .hamburger
  {
    display: block;
  }

  .info-row
  {
    display: block;
  }

  .nav-links .wrapper
  {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    background-image: url("assets/menu.png");
    background-size: cover;
    z-index: -1;
    clip-path: circle(0% at 93% 4.5%);
  }
  
  .nav-links ul
  {
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    justify-content: end;
    gap: 0;
    padding: 5vh 2rem;
    font-weight: 500;
  }

  .nav-links li
  {
    border-bottom: 1px solid #333;
    padding: 1rem 0;
  }

  .nav-links li a
  {
    font-size: 2.5rem;
  }

  .nav-links li a.active::after
  {
    width: 0;
  }
  
  .nav-links .btn
  {
    display: none;
  }

  .mobile-hide
  {
    display: none;
  }

  .hero-flex:nth-child(1)
  {
    flex-direction: column;
  }

  .hero-flex .paragraph
  {
    text-align: left;
  }

  .hero-flex .center
  {
    display: none;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
  }

  .image-grid .image-box:nth-child(7n + 1) {
    grid-column: unset;
    grid-row: unset;
  }

  .aligner-flex
  {
    flex-direction: column;
  }

  .img-container
  {
    flex-direction: column;
  }

  .img-container .info
  {
    width: 100%;
  }

/* 
  .left,
  .info,
  .img-container .mask,
  .img-container .info
  {
    width: 100%;
  }*/

  .footer
  {
    align-items: center;
    text-align: center;
  }

  .footer .socials
  {
    justify-content: center;
  }
  
}

@media (min-width: 1024px) {
  .footer-col.lg
  {
    flex: 0 0 32%;
    max-width: 32%;
  }
  
  .footer-col
  {
    padding: 0 1rem;
    flex: 0 0 18%;
    max-width: 18%;
  }


.img-container.rev
{
  flex-direction: row-reverse;
}

.img-container.rev .info
{
  text-align: right;
}

}

@media (min-width: 1280px) {
  .container
  {
    max-width: 1216px;
  }

  .aligner-flex
  {
    max-width: 1216px;
  }
}

@media (min-width: 1600px) {
  .container
  {
    max-width: 1350px;
  }
  
  .aligner-flex
  {
    max-width: 1350px;
  }
}

/* @media (min-width: 1920px) {
  .container
  {
    max-width: 1520px;
  }
  
  .aligner-flex
  {
    max-width: 1520px;
  }
} */