@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --light: #f0f0f5;
  --dark: #131318;
  /* --dark: #080a0b; */
  /* --dark: #06070b; */
  --cyan: #5789b8;
  --pink: #ff3f81;
  --gray: #aaaaad;
  /* e8e6e3 */

}

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body
{
  background-color: var(--dark);
  font-size: 1rem;
}

body.dark
{
  background-color: #0a0a0d;
}

a, p, li
{
  color: var(--gray);
  text-decoration: none;
}

.label
{
  margin-bottom: 1.5rem;
  color: var(--light);
}

nav
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

nav .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0px;
}

.nav-links ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-links li a
{
  position: relative;
  text-decoration: none;
  color: var(--light);
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  transition: 300ms;
  z-index: 1;
}

.nav-links li a::after
{
  content: "";
  position: absolute;
  background-color: var(--cyan);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: all ease 500ms;
}


.nav-links li a:hover::after,
.nav-links li a.active::after
{
  width: 100%;
}

.btn
{
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  transition: all 300ms ease;
  white-space: nowrap;
  background-color: var(--cyan);
  border: 2px solid var(--cyan);
}

.btn:hover
{
  background-color: transparent;
}

.btn a
{
  color: var(--light);
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms ease;
}

.btn:hover a
{
  color: var(--cyan);
}

.hamburger
{
  display: none;
  cursor: pointer;
}

.hamburger .bar
{
  transition: all 300ms ease;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--light);
  border-radius: 3px;
}

.info-row
{
  display: grid;
  gap: 17.5rem;
  grid-template-columns: 150px minmax(0, 1220px);
  margin-bottom: 4rem;
}

.aligner-flex
{
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

.left
{
  width: 70%;
}

/* IMPORTANT */

/* optimize and reduce class amount by combining project info class and others */

.project-info
{
  grid-column-gap: 2rem;
  /* grid-row-gap: 0rem; */
  /* flex-wrap: wrap; */
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.project-number
{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
}

.project-label-wrapper
{
  grid-column-gap: 1rem;
  /* flex-wrap: wrap; */
  /* flex: 0 auto; */
  display: flex;
}

section
{
  width: 100%;
  height: 100%;
  padding: 5vh 0;
}

.img-container
{
  /* overflow: hidden;
  width: 100%;
  height: 100%;*/

  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  gap: 3rem;
  margin: 15% 0;
}

.img-container a
{
  position: relative;
}

.img-container a p
{
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 300ms ease;
  text-transform: uppercase;
  color: var(--light);
}

.mask,
.img-container a,
.img-container .info {
  overflow: hidden;
  flex: 1;
}

.mask img,
.mask video
{
  width: 100%;
  height: 100%;
  transform-origin: left;
  object-fit: cover;
  display: block;
  transition: opacity 300ms ease;
}

.img-container a:hover img,
.img-container a:hover iframe,
.img-container a:hover video
{
  opacity: .5;
}

.img-container a:hover p
{
  opacity: 1;
}

.mask iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  object-fit: cover;
  display: block;
}

/* TEXT - HEADERS - FONTS */

h1
{
  color: var(--gray);
}

h2
{
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 7rem;
  color: var(--pink);
}

li
{
  list-style: none;
}

.title
{
  color: var(--pink);
  /* transform: scaleX(1.2); */
  /* transform-origin: 0% 0%; */
}

.title span
{
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.25rem;
}

.big-text
{
  font-weight: 500;
  color: var(--gray);
  font-size: 7rem;
}

h3
{
  font-size: 2.5rem;
  color: var(--light);
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 800;
}

h4
{
  font-weight: 600;
  font-size: 2rem;
  color: var(--light);
}

.paragraph
{
  font-size: 1.5rem;
  line-height: 1.5;
}

.highlight
{
  color: #5d81a2;
}

.preloader
{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  z-index: 0;
  /* z-index: 50; */
  background-color: #0a0a0d;
  flex-direction: column;
}
/* 
.percent
{
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: var(--light);
  font-size: 10vw;
} */

.section-landing
{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #1a1a1d50;
}

.section-banner {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.background-content
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.landing-video
{
  z-index: -1;
}

.content
{
  mix-blend-mode: difference;
  /* padding-top: 73vh; */
  position: absolute;
  top: 75%;
  /* top: 100%; */
  /* FIX THIS WITH MAYBE ABSOLUTE POSITION AS LONG AS BOTTOM OF VIEWPORT ON ALL DEVICES */
}

.hero-flex
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-flex p
{
  color: var(--light);
}

.center
{
  text-align: center;
}

.right
{
  text-align: right;
}

.grid
{
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  place-content: center;
  row-gap: 3rem;
}

.gallery ul
{
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-content: center;
  row-gap: 1.75rem;
}

.gallery ul li
{
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery figure
{
  min-width: 100%;
  min-height: 100%;
}

.gallery iframe
{
  min-height: 100%;
  min-width: 100%;
}

.gallery ul li p
{
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.gallery ul .full-width
{
  grid-column: span 4;
}

.half-width
{
  grid-column: span 2;
}

.gallery img,
.gallery video
{
  height: auto;
  width: 100%;
}

.hero
{
  position: absolute;
  mix-blend-mode: difference;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .paragraph
{
  white-space: nowrap;
  text-align: center;
  color: var(--light);
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.content h1
{
  text-transform: uppercase;
  font-weight: 900;
  color: var(--light);
  font-size: 13vw;
}

.rotate
{
  width: 5rem;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer
{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #0a0a0d;
  padding: 5vw 0;
}

.container
{
  width: calc(100% - 2rem);
  margin: auto;
  position: relative;
}

.row
{
  display: flex;
  justify-content: space-between;
}

.grow
{
  flex: 1;
}

.footer h4
{
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 2rem;
  position: relative;
}

.footer h4::before
{
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background-color: var(--cyan);
  height: 3px;
  box-sizing: border-box;
  width: 50px;
}

.footer ul li:not(:last-child)
{
  margin-bottom: 0.5rem
}

.footer ul li a
{
  color: var(--gray);
  display: block;
  padding-left: 0px;
  transition: all 300ms ease;
}

.footer ul li a:hover
{
  color: var(--light);
  padding-left: 0.5rem;
}

hr
{
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #333;
}

.hr
{
  margin: 3rem 0
}

::-webkit-scrollbar
{
  width: 1rem;
  background-color: #202224;
}

::-webkit-scrollbar-thumb
{
  background: #2a2a30;
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover
{
  background: #8a8a90;
}

@media (max-width: 480px) {
  .paragraph
  {
    font-size: 0.875rem;
  }

  .title h2
  {
    font-size: 20vw;
    text-align: center;
  }

  h3
  {
    font-size: 2rem;
  }

  h4
  {
    font-size: 1.5rem;
  }

  .footer .grid
  {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .footer .label
  {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 991px) {
  .hamburger,
  .info-row
  {
    display: block;
  }

  .nav-links .wrapper
  {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    background-image: url("assets/menu.png");
    background-size: cover;
    z-index: -1;
    clip-path: circle(0% at 93% 4.5%);
  }
  
  .nav-links ul
  {
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    justify-content: end;
    gap: 0;
    padding: 5vh 2rem;
    font-weight: 500;
  }

  .nav-links li
  {
    border-bottom: 1px solid #333;
    padding: 1rem 0;
    opacity: 0;
    transform: translateY(25px);
  }

  .nav-links li a
  {
    font-size: 2.5rem;
  }

  .nav-links li a.active::after
  {
    width: 0;
  }

  .mobile-hide,
  .nav-links .btn,
  .hero-flex .center
  {
    display: none;
  }

  .hero-flex:nth-child(1)
  {
    flex-direction: column;
  }

  .hero-flex .paragraph
  {
    text-align: left;
  }

  .aligner-flex,
  .img-container
  {
    flex-direction: column;
  }

  .left,
  .info,
  .img-container .mask,
  .img-container .info
  {
    width: 100%;
  }

  .footer .row
  {
    flex-direction: column;
    gap: 3rem;
  }

  .footer .row
  {
    flex-direction: column;
  }
  
}

@media (min-width: 1024px) {
  .img-container.rev .project-info
  { 
    flex-direction: row-reverse;
  }

  .img-container.rev
  {
    flex-direction: row-reverse;
  }

  .img-container.rev .info
  {
    text-align: right;
  }
}

@media (min-width: 1280px) {
  .container
  {
    max-width: 1216px;
  }

  .content h1
  {
    font-size: 10rem;
  }
}

@media (min-width: 1600px) {
  .container
  {
    max-width: 1350px;
  }
  
  .content h1
  {
    font-size: 11rem;
  }

}

@media (min-width: 2400px) {
  .container
  {
    max-width: 1650px;
  }

  .content h1
  {
    font-size: 12rem;
  }
}

.project
{
  display: block;
  align-items: baseline;
}

.home-gallery-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid
;
}

#w-node-_43e6a931-8adf-88b8-4a20-129b95f31198-92692dcc {
    grid-area: 1 / 4 / 2 / 9;
}

#w-node-_43e6a931-8adf-88b8-4a20-129b95f3119a-92692dcc {
    grid-area: 2 / 10 / 3 / 15;
}

#w-node-_43e6a931-8adf-88b8-4a20-129b95f3119c-92692dcc {
    grid-area: 2 / 1 / 3 / 9;
}

#w-node-_43e6a931-8adf-88b8-4a20-129b95f3119e-92692dcc {
    grid-area: 3 / 10 / 4 / 16;
}

#w-node-_43e6a931-8adf-88b8-4a20-129b95f311a0-92692dcc {
    grid-area: 3 / 4 / 4 / 9;
}

.grid-image:nth-of-type(1) {
  width: 30vw;
  height: 20vw;
}

.grid-image:nth-of-type(2) {
  margin-top: -7vw;
  width: 36vw;
  height: 17vw;
}

.grid-image:nth-of-type(3) {
  margin-top: 7vw;
  width: 48vw;
  height: 25vw;
}

.grid-image:nth-of-type(4) {
    margin-top: -14.5vw;
    width: 28vw;
    height: 35vw;
}

.grid-image:nth-of-type(5) {
    margin-top: 7vw;
    margin-left: 6.5vw;
    width: 27vw;
    height: 16vw;
}

.grid-image img {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
}

